.technoCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
  margin-bottom: 80px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  .cardTechno {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid var(--grey-color);
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    .imageContainer {
      background: rgba(0, 0, 0, 0.05);
      display: flex;
      justify-content: center;
      padding: 2rem;

      img {
        width: 100px;
        height: 100px;
        filter: grayscale(30%);
        transition: transform 0.3s ease;

        &:hover {
          transform: rotate(10deg);
        }
      }
    }

    .text {
      padding: 1.5rem;
      text-align: center;
      & p {
        color: var(--grey-color);
      }
    }
  }
}
