.homeContent {
  display: flex;
  align-items: center;
  margin: 50px 0 100px;
  gap: 50px;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    margin: 10px 0 30px;
    gap: 0;
  }
  .titleDescription {
    width: 60%;
    @media (max-width: 768px) {
      width: 70%;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
    .title {
      text-align: center;
      color: var(--title-color);
      font-family: var(--font-gruppo);
      letter-spacing: 15px;
      font-size: clamp(24px, 7vw, 100px);
      line-height: 1;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    .job {
      text-align: center;
      font-size: clamp(18px, 3vw, 45px);
      font-weight: 500;
      color: var(--title-color);

      margin-bottom: 2.5rem;
      & span {
        background: linear-gradient(45deg, #007bff, #00bcd4);
        color: black;
        border-radius: 3px;
        padding: 0 5px;
      }
    }
    .description {
      text-align: center;
      color: var(--grey-color);
      font-size: 1.2rem;
    }
  }
  .profilImage {
    width: 40%;
    max-height: 700px;
    object-fit: cover;
    border-radius: 5px;
    background-color: black;
    @media (max-width: 768px) {
      width: 70%;
      margin-bottom: 20px;
    }
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}
