/* Reset de base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body,
button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input,
textarea {
  outline: none;
  border: none;
  background: none;
}

html {
  scroll-behavior: smooth;
}
