header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(94deg, #0090f7, #ba62fc, #f2416b, #f55600);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: normal;
  }

  .navbar {
    display: flex;
    border-radius: 10px;
    gap: 100px;
    @media (max-width: 1024px) {
      gap: 50px;
    }
    @media (max-width: 768px) {
      gap: initial;
      justify-content: space-between;
    }

    .theme-toggle {
      cursor: pointer;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      color: var(--title-color);
      font-weight: 500;
      &:hover {
        animation: fadeIn 500ms ease-in-out forwards;
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-text-fill-color: var(--title-color);
    }

    to {
      opacity: 1;
      -webkit-text-fill-color: var(--title-color);
      transform: scale(1.1);
    }
  }

  .socialLinks {
    display: flex;
    gap: 20px;
    @media (max-width: 768px) {
      margin-top: 30px;
      align-self: center;
    }
    &__icons {
      width: 2.3rem;
      @media (max-width: 480px) {
        width: 1.8rem;
      }
    }
  }
}
